<div class="dropdown">
    <a a asp-controller="Lanche" asp-action="List" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration:none; color:white;">
        Lanches
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var categoria in Model)
        {
            <a class="dropdown-item" asp-controller="Lanche" asp-action="List" asp-route-categoria="@categoria.CategoriaNome">@categoria.CategoriaNome</a>
        }
        <li class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" asp-controller="Lanche" asp-action="List" asp-route-categoria="">Ver Todos os Lanches</a>
        </li>
    </ul>
</div>